# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.env

# Node.js
node_modules/
dist/
build/

# Sessions
sessions/

# Logs
logs/
*.log

# Temporary files
*.bak
*.swp
*.tmp

# Virtual environment
/music_scheduler/venv/

# OS-specific
.DS_Store
Thumbs.db
